<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone_number %>
</p>
<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>
<%= link_to 'Back', restaurants_path %> |


<h1> leave a review </h1>
<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>

  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>


<% @restaurant.reviews.each do |element| %>
<p>comment: <%=element.content%> rating: <%=element.rating%></p>
<% end %>